Html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --background-general-color: #fffef6;
  --text-general-color: #000000;
  --size-profile: 100%;
  --size-english: 0;
  --size-gramma: 0;
  --size-grammaAdvanced: 0;
  --transition-width: flex-basis 3s;
  --transition-height: height 3s;
  --transition-img: width 3s;
  --transition-img: height 3s;
  --titles-vertical-align: 1rem;
  --titles-horizontal-align: 3rem;
  --vh: 0;

  --font-size-general: 2vh;
  --font-size-576: 2.5vh;
  --font-size-768: 3vh;
  --line-height: 0.5em;
}

img {
  width: 90%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh) * 100);
}

.page__profile {
  display: flex;
  justify-content: center;
  height: var(--size-profile);
  padding-top: 1rem;
  min-height: 3rem;
}

.hideVerticalTitle {
  display: none;
}

.page__profile > p {
  display: none;
}

.vertical-text p {
  display: block;
}

.profile > img {
  width: 40%;
  height: auto;
}

.profile,
.mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile > .course__info {
  order: 1;
}

.page__profile,
.page__english,
.page__gramma,
.page__gramma-advanced {
  transition: var(--transition-height);
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.1, 1, 0, 0.9);
}

.page__english,
.page__gramma,
.page__gramma-advanced {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 3rem;
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
}

.page__english {
  height: var(--size-english);
}

.page__gramma {
  height: var(--size-gramma);
}

.page__gramma-advanced {
  height: var(--size-grammaAdvanced);
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course > .course__info {
  order: 1;
}

.course__hidded {
  display: none;
}

.course__hidded > div {
  order: 1;
}

.course__info {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.5em;
  text-align: left;
  font-size: var(--font-size-general);
}

/******************************************576*******************************/
@media (min-width: 576px) {
  img {
    width: 100%;
    height: auto;
  }

  .profile > img {
    width: 15%;
    height: auto;
  }

  .page__profile > .course {
    margin-top: 1rem;
  }

  .course {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  .course__info {
    font-size: var(--font-size-576);
  }

  .mobile > img {
    margin-left: 1rem;
  }
}

/******************************************768*******************************/
@media (min-width: 768px) {
  img {
    width: 80%;
  }

  .profile {
    flex-direction: row;
    gap: 1rem;
  }

  .profile > .course__info {
    margin-right: 1rem;
  }
  .profile > img {
    margin-left: 1rem;
  }

  .course__info {
    font-size: var(--font-size-768);
  }
}

/******************************************1200*******************************/
@media (min-width: 1200px) {
  .hideVerticalTitle {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    background-color: var(--background-general-color);
    color: var(--text-general-color);
    height: 100vh;
  }

  .page__profile,
  .page__english,
  .page__gramma,
  .page__gramma-advanced {
    display: none;
    justify-content: unset;
    align-self: start;
    width: 0;
    min-height: 100vh;
    border: 1px solid var(--text-general-color);
    align-items: unset;
    text-align: unset;
    transition: var(--transition-width);
    transition-delay: 0.2s;
    transition-timing-function: cubic-bezier(0.3, 1, 0, 0.9);
  }

  .page__english,
  .page__gramma,
  .page__gramma-advanced {
    margin-top: 0;
  }

  .vertical-text {
    flex-direction: column;
    justify-content: flex-end;
  }

  .page__profile {
    display: flex;
    min-width: 5rem;
    margin-top: 0;
  }

  .profile {
    display: flex;
    flex-direction: row;
    margin: 0 5em 0 5em;
    align-items: center;
  }

  .profile > img {
    width: 30%;
    height: auto;
  }

  .profile > .course__info {
    order: 0;
  }

  .page__english {
    display: flex;
    min-width: 5rem;
  }

  .page__gramma {
    display: flex;
    min-width: 5rem;
  }

  .page__gramma-advanced {
    display: flex;
    min-width: 5rem;
  }

  .course__hidded {
    display: none;
  }

  .course__hidded > img {
    display: none;
  }

  .course {
    display: flex;
    flex-direction: row;
    margin: 0 5em 0 0;
    align-items: center;
  }

  .course > .course__info {
    order: 0;
  }

  .course__info {
    display: flex;
    justify-content: space-between;
  }

  .course__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 2em;
  }

  .course__info-title,
  .course__info-subtitle,
  .course__info-time {
    margin-bottom: var(--line-height);
  }

  .page__profile {
    flex-basis: var(--size-profile);
  }

  .page__profile > p,
  .page__english > p,
  .page__gramma > p,
  .page__gramma-advanced > p {
    display: block;
    transform-origin: left bottom;
    transform: rotate(-90deg) translate(var(--titles-vertical-align), var(--titles-horizontal-align));
  }

  .page__english {
    flex-basis: var(--size-english);
  }

  .page__english img {
    width: var(--size-english);
    transition: width 3s;
  }

  .page__gramma {
    flex-basis: var(--size-gramma);
  }

  .page__gramma img {
    width: var(--size-gramma);
    transition: width 3s;
  }

  .page__gramma-advanced {
    flex-basis: var(--size-grammaAdvanced);
  }

  .page__gramma-advanced > .course {
    margin-left: -5em;
  }

  .page__gramma-advanced > p {
    white-space: nowrap;
  }

  .page__gramma-advanced img {
    width: var(--size-grammaAdvanced);
    transition: width 3s;
  }
}
